<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/style.index.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.videojocs.css">
    <link rel="icon" href="../img/icono.png" type="image/x-icon">
    <title>CallOfDutyBO3</title>
</head>
<body class="fondoBO3">
    <div>
        <h1>Call Of Duty Black ops 3</h1>
    </div>
    <div class="row">
        <div>
            <p class="textoDerecha">Call of Duty: Black Ops III Zombis es el Call of Duty Zombis mas inmersivo y ambicioso hasta la fecha. Shadows of Evil es mas oscuro y caotico que nunca, y crea un ambiente de juego totalmente unico y muy creativo que aporta una experiencia impresionante, con una historia cautivadora y su propio sistema de progresion con PX</p>
        </div>
        <div class="col-502">
            <img src="../img/imagen(BO3).jpg">
        </div>
        <div class="col-502">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/cUeA0SNWEB4?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-50">
        <h1><strong>Precio: 25$</strong></h1>
      </div>
      <div class="col-50">
        <h1><strong>Personajes:</strong></h1>
        <p>Battery</p>
        <p>Ruin</p>
        <p>Outrider</p>
        <p>Prophet</p>
        <p>Nomad</p>
        <p>Reaper</p>
      </div>
      <button onclick="window.history.back()">Volver atrás</button>
</body>
</html>