<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/style.index.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.videojocs.css">
    <link rel="icon" href="../img/icono.png" type="image/x-icon">
    <title>Mario Party</title>
</head>
<body class="fondomarioparty">
  <div>
    <h1>Mario Party SuperStars</h1>
  </div>
  <div class="row">
    <div>
      <p class="textoDerecha">Conviertete en una superestrella en el modo Mario Party, un juego de tablero repleto de diversion en el que tu suerte puede cambiar de un momento a otro. ¡Juega en linea* a este y otros modos de juego!.La accion se desarrolla en cinco tableros clasicos de los juegos de Mario Party para Nintendo 64.</p>
    </div>
    <div class="col-502">
      <img src="../img/imagen(Mario).jpg">
    </div>
    <div class="col-502">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VeG2ulzRRzI?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-50">
    <h1><strong>Precio: 45$</strong></h1>
  </div>
  <div class="col-50">
    <h1><strong>Personajes:</strong></h1>
    <p>Mario Bros</p>
    <p>Luigi</p>
    <p>Princesa Peach</p>
    <p>Donkey Kong</p>
    <p>Yoshi</p>
    <p>Toad</p>
  </div>
  <button onclick="window.history.back()">Volver atrás</button>
</body>
</html>