<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/style.index.css">
    <link rel="stylesheet" type="text/css" href="CSS/style.videojocs.css">
    <title>Mario Party</title>
</head>
<body>
  <div class="row">
    <div>
      <p class="textoDerecha">Mario Party SuperStars</p>
    </div>
    <div>
      <p class="textoDerecha">Conviertete en una superestrella en el modo Mario Party, un juego de tablero repleto de diversion en el que tu suerte puede cambiar de un momento a otro. ¡Juega en linea* a este y otros modos de juego!.La accion se desarrolla en cinco tableros clasicos de los juegos de Mario Party para Nintendo 64.</p>
    </div>
    <div class="col-50">
      <img href="">
    </div>
    <div class="col-50">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VeG2ulzRRzI?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</body>
</html>