<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/style.index.css">
    <link rel="stylesheet" type="text/css" href="CSS/style.videojocs.css">
    <title>PokemonDiamante</title>
</head>
<body>
  <div class="row">
    <div>
      <p class="textoDerecha">Pokemon Diamente Brillante</p>
    </div>
    <div>
      <p class="textoDerecha">El juego nos situa en Sinnoh, una region aislada de todas las anteriores donde encontraremos nuevos Pokemon. Al comienzo, gracias al Profesor Serbal obtendremos nuestro primer Pokemon, a elegir entre Turtwig (Pokemon de tipo planta), Chimchar (Pokemon de tipo fuego) y Piplup (Pokemon de tipo agua).</p>
    <div class="col-50">
      <img href="">
    </div>
    <div class="col-50">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/F3x7LOrQG98" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</body>
</html>