<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/style.index.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.videojocs.css">
    <link rel="icon" href="../img/icono.png" type="image/x-icon">
    <title>PokemonDiamante</title>
</head>
<body class="fondopokemon">
  <div>
    <h1>Pokemon Diamente Brillante</h1>
  </div>
  <div class="row">
    <div>
      <p class="textoDerecha">El juego nos situa en Sinnoh, una region aislada de todas las anteriores donde encontraremos nuevos Pokemon. Al comienzo, gracias al Profesor Serbal obtendremos nuestro primer Pokemon, a elegir entre Turtwig (Pokemon de tipo planta), Chimchar (Pokemon de tipo fuego) y Piplup (Pokemon de tipo agua).</p>
    <div class="col-502">
      <img src="../img/imagen(pokemon).jpg">
    </div>
    <div class="col-502">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/F3x7LOrQG98" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-50">
    <h1><strong>Precio: 50$</strong></h1>
  </div>
  <div class="col-50">
    <h1><strong>Personajes:</strong></h1>
    <p>Maya</p>
    <p>Leon</p>
    <p>Pr Serbal</p>
    <p>Israel</p>
  </div>
  <button onclick="window.history.back()">Volver atrás</button>
</body>
</html>