<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/style.index.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.videojocs.css">
    <link rel="icon" href="../img/icono.png" type="image/x-icon">
    <title>Sekiro</title>
</head>
<body class="fondosekiro">
    <div>
        <h1>Sekiro</h1>
    </div>
    <div class="row">
        <div>
            <p class="textoDerecha">Adrentrate en un mundo tan oscuro como despiadado y sumergete en una nueva experiencia jugable desarrollada por los creadores de Bloodborne y Dark Souls.Sekiro: Shadows Die Twice es un intenso juego de accion y aventura en tercera persona que tiene lugar en el sangriento Japon del siglo XIV. Ponte en la piel de un guerrero caido en desgracia que ha sido rescatado de los brazos de la muerte y debe salvar a su maestro y vengarse de su archienemigo.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-502">
            <img id="imagensekiro" src="../img/imagen(sekiro).jpg">
        </div>
        <div class="col-502">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/e8iGRmFCRQk?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-50">
        <h1><strong>Precio: 55$</strong></h1>
      </div>
      <div class="col-50">
        <h1><strong>Personajes:</strong></h1>
        <p>Lobo</p>
        <p>Buho</p>
        <p>Escultor</p>
      </div>
      <button onclick="window.history.back()">Volver atrás</button>
</body>
</html>